In [1]:
#Exercício 0
nome = input("Digite seu nome: ")
idade = input ("Digite sua idade: ")
print (nome , "tem" , idade , "anos!")

Digite seu nome:  Humberto
Digite sua idade:  27

Humberto tem 27 anos!

In [10]:
x = int (input ("Digite um valor:"))
y = int (input ("Digite um valor:"))
print ("O resultado da soma deu:" , x+y)

Digite um valor: 8
Digite um valor: 6

O resultado da soma deu: 14

In [9]:
#Exercicio 1
nome = input("Digite seu nome:")
print ("Tenha um bom dia" , nome , "!")

Digite seu nome: Bkas

Tenha um bom dia Bkas !

In [2]:
#Exercicio 2
ano_nasc = int (input("Digite o ano em que você nasceu:"))
ano_atual = int (input("Digite o ano em que estamos:"))
print ("Você tem" , (ano_atual - ano_nasc) * 365 , "dias")
print ("Você tem" , (ano_atual - ano_nasc) * 52 , "semanas")
print ("Voce tem" , (ano_atual - ano_nasc) * 12 , "meses")
print ("Voce tem" , (ano_atual - ano_nasc) , "anos")

Digite o ano em que você nasceu: 1962
Digite o ano em que estamos: 2025

Você tem 22995 dias
Você tem 3276 semanas
Voce tem 756 meses
Voce tem 63 anos

In [7]:
#Exercicio 3
salario = int(input("Digite seu salario:"))
aumento = float(1.25)
novo_salario = salario * aumento
print ("O novo salario é:" , novo_salario)

Digite seu salario: 200

O novo salario é: 250.0

In [9]:
#Exercicio 4
salario = int(input("Digite seu salario:"))
aumento = float(input("Digite seu aumento:"))
novo_salario = salario * aumento
print ("O seu novo salario é:" , novo_salario)

Digite seu salario: 100
Digite seu aumento: 1.75

O seu novo salario é: 175.0

In [13]:
#Exercicio 5
deposito = 1000
juros = 5
rendimento = deposito * (juros / 100)
valor_total = deposito + rendimento
print (valor_total)

1050.0

In [15]:
#Exercicio 6
altura = int(input("Digite a altura:"))
base = int(input("Digite a base:"))
area = base * altura / 2
print ("A area do seu triangulo é" , area)

Digite a altura: 10
Digite a base: 10

A area do seu triangulo é 50.0

In [17]:
#Exercicio 7
pi = float (3.1415)
raio = int(input("Digite o raio do círculo:"))
area = pi * raio**2
print ("O raio do seu círculo é" , area)

Digite o raio do círculo: 10

O raio do seu círculo é 314.15000000000003

In [2]:
#Exercicio 8
pe = 12
jarda = 3 * pe
milha = 1760 * jarda

distancia_pe = int(input("Digite a distancia em pés"))
resultado_polegada = distancia_pe * pe
resultado_jarda = distancia_pe * jarda
resultado_milha = distancia_pe * milha

print ("Polegadas:" , resultado_polegada)
print ("Jardas:" , resultado_jarda)
print ("Milhas:" , resultado_milha)

Digite a distancia em pés 40

Polegadas: 480
Jardas: 1440
Milhas: 2534400

In [1]:
#Exercicio 9
altura_degrau_cm = float(input("Digite a altura de cada degrau em cm:"))
altura_escada_m = float(input("Digite a altura que você quer subir em metros:"))

altura_escada_cm = altura_escada_m * 100

numero_degraus = altura_escada_cm / altura_degrau_cm

print("Você terá que subir", int(numero_degraus), "degraus.")

Digite a altura de cada degrau em cm: 15
Digite a altura que você quer subir em metros: 6

Você terá que subir 40 degraus.